*{
    text-align: center;
}
table{
    text-align: center;
}
table{
    margin:auto
}
body{
    background-color: rgb(162, 149, 175);
}
table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
